@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@font-face {
  font-family: "Queering";
  src: url(./fonts/Queering-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'Supreme';
  src: url(./fonts/Supreme-Variable.ttf) format("truetype");
}

@font-face {
  font-family: 'Bespoke';
  src: url(./fonts/BespokeStencil-Variable.ttf) format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #e6f7ff;
  background-image:
    radial-gradient(circle at 20% 30%, rgba(255, 223, 186, 0.6) 0%, transparent 70%),
    radial-gradient(circle at 80% 70%, rgba(255, 255, 255, 0.8) 0%, transparent 70%),
    repeating-linear-gradient(45deg,
      rgba(173, 216, 230, 0.15) 0px,
      rgba(173, 216, 230, 0.15) 6px,
      transparent 6px,
      transparent 12px),
    repeating-linear-gradient(135deg,
      rgba(240, 248, 255, 0.15) 0px,
      rgba(240, 248, 255, 0.15) 6px,
      transparent 6px,
      transparent 12px);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow: 1px 0 5px rgba(3, 3, 3, 0.2);
  position: fixed;
  top: 0;
  z-index: 10;
}

header ul {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header ul li {
  list-style: none;
  cursor: pointer;
  position: relative;
  margin-right: 1rem;
}

li a {
  font-family: 'Audiowide', sans-serif;
  position: relative;
  color: #313131;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s;
  padding: .5rem .8rem;
  border-radius: 10px;
  z-index: 2;
  text-transform: uppercase;
  transition: color 0.3s;
}

.active {
  color: #8cab37;
  transition: none;
}

.active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background-color: #8cab37;
  z-index: -1;
}

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  border-radius: 10px;
  background-color: #b3b3ba;
  transition: all 0.3s;
  z-index: -1;
}

a:hover::after {
  width: 100%;
}

a:hover {
  color: #8cab37;
}

li .login {
  font-family: 'Audiowide', sans-serif;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: .5rem 15px;
  font-weight: 600;
  z-index: 6;
  color: #f8f8fb;
  border-radius: 10px;
  background-color: #8cab37;
}

header h2 {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  font-size: 3.2rem;
  letter-spacing: -4px;
  margin-left: 1rem;
  color: #8cab37;
}

section {
  width: 100%;
  margin: 0 auto;
  padding: 4rem 4rem 0 4rem;
}

.home {
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  gap: 10rem;
}

.home .left h1 {
  font-family: 'Orbitron', sans-serif;
  max-width: 740px;
  font-size: 5rem;
  line-height: 4.5rem;
  -webkit-text-stroke: 2px #8cab37;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}

.home h5 {
  font-family: 'Audiowide', sans-serif;
  font-size: 18px;
  color: #8cab37;
  margin-bottom: 1rem;
  margin: 2rem 0;
}

.home button {
  font-family: 'Audiowide', sans-serif;
  font-size: 18px;
  color: white;
  border: none;
  background-color: #8cab37;
  padding: 0.8rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px;
}

.home button:hover {
  background-color: #5e5d88;
}

.home a:hover {
  color: white;
  background-color: #2c4860;
}

.right img {
  width: 500px;
  background: transparent;
  mix-blend-mode: multiply;
}

.bg svg {
  position: absolute;
  bottom: 0;
}

.showcase {
  position: relative;
  height: 80vh;
  width: 100%;
  background: url('https://img.freepik.com/free-photo/zucchini-pancakes-with-corn-sour-cream_2829-11054.jpg?t=st=1724844285~exp=1724847885~hmac=c3beefec0fc234fae6a64e72eaa867d223d339b4677ef61af2a60459834266fa&w=1380') no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5rem;
}

.showcase-text {
  position: absolute;
  background-color: white;
  max-width: 500px;
  border-radius: 10px;
  padding: 1.5rem;
  left: 5%;
  top: 25%;
}

.showcase-text h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  text-transform: capitalize;
  color: #5e5d88;
  margin-bottom: 1rem;
}

.showcase-text p {
  font-family: 'Audiowide', sans-serif;
  font-size: 18px;
  color: #7470b9;
  margin-bottom: 1rem;
}

.recipe-header {
  margin-top: 3.5rem;
  padding: 1rem 4rem;
  background-color: #bab9d4;
}

.recipe-header h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 4.5rem;
  line-height: 4rem;
  text-transform: uppercase;
  color: #5e5d88;
  text-align: center;
}

.contain {
  padding-top: 2rem;
  min-height: 100vh;
  width: 100%;
}

.card-container {
  padding: 6rem 1rem;
  width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, 15rem);
  cursor: pointer;
}

.card {
  width: 300px;
  height: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(15px);
  text-align: center;
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(59, 61, 78, 0.433);
}

.card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.card-body {
  background-color: #9e9cd0;
  height: 100%;
  backdrop-filter: blur(10px);
  padding: 1.2rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-body .title {
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 1rem;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  color: #f5f5ff;
  font-weight: 500;
}

.card-body .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body .timer {
  font-family: 'Audiowide', sans-serif;
  display: flex;
  align-items: center;
  gap: 2px;
  color: #3c3b56;
  font-size: 17.5px;
  font-weight: 500;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editIcon {
  color: black;
  transform: translateY(2.5px);
  margin-right: .5rem;
  font-size: 22px;
}

.action a:hover {
  color: black;
}

.deleteIcon {
  color: rgba(213, 40, 40, 0.935);
  font-size: 24px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 34%;
  z-index: 10;
  padding: 2rem;
  border-radius: 6px;
  border: none;
  left: 30%;
  width: 40%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9;
}

.form {
  width: 70%;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
}

.form-header {
  background-color: #d4f6e8;
  height: 3px;
  text-align: center;
}

.form label {
  font-family: 'Supreme', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #3c3b56;
}

.form-control {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.form-control .input {
  font-family: 'Supreme', sans-serif;
  flex-basis: 70%;
  border: 1px solid rgb(156 163 175);
  border-radius: 5px;
  font-size: 15px;
  border: none;
  outline: none;
  padding: 10px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.258);
}

.form-control .input-textarea {
  border: 1px solid rgb(156 163 175);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.215);
  border-radius: 5px;
  font-size: 15px;
  font-family: 'Supreme', sans-serif;
  border: none;
  outline: none;
  flex-basis: 70%;
  padding: 10px;
  /* Scrollbar */
  overflow-y: scroll;
  resize: vertical;
  height: 100px;
}

.form-control .input:focus {
  border: 1px solid #7470b9;
}

.form-control .input-textarea:focus {
  border: 1px solid #7470b9;
}

.form button {
  margin: 2rem 0;
  border: none;
  background-color: #7470b9;
  color: white;
  font-family: 'Supreme', sans-serif;
  padding: .5rem 1.5rem;
  font-size: 18px;
  z-index: 5;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.form p {
  cursor: pointer;
  display: inline;
  border-bottom: 1px solid #307bbd;
  color: rga(4, 136, 170);
  font-size: 14px;
  color: #307bbd;
}

.form .error {
  color: red;
  font-size: 13px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.add-recipe {
  width: 100%;
}

.recipe {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.footer {
  width: 100%;
  color: white;
  background-color: #7470b9;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 16px;
}

.outer-container {
  min-height: 100vh;
  width: 80%;
  margin: 8rem auto;
}

.outer-container .profile {
  font-family: 'Audiowide', sans-serif;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.outer-container .title {
  font-size: 3rem;
  font-weight: 800;
  color: #7470b9;
  font-family: 'Orbitron', sans-serif;
  margin: 1rem 0;
  text-transform: uppercase;
}

.outer-container .recipe-details {
  display: grid;
  gap: 3rem;
  justify-content: space-between;
  margin-top: 1rem;
}

.outer-container .recipe-details .ingredients {
  font-size: 18px;
  font-weight: 500;
  color: #3c3b56;
  font-family: 'Audiowide', sans-serif;
}

.outer-container .recipe-details .instructions {
  font-family: 'Audiowide', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #3c3b56;
}

.menu-button {
  display: none;
  background-color: #7470b9;
  color: white;
  font-family: 'Audiowide', sans-serif;
  padding: .5rem 1.5rem;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 0;
  right: 1rem;
  cursor: pointer;
  margin: 1rem;
  font-size: 20px;
}

.menu-over {
  position: fixed;
  padding-top: 6rem;
  top: 0;
  right: -100%;
  /* Start position outside the viewport */
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.menu-over.open {
  right: 0;
}

.menu-contain {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-contain li {
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd;
}

.menu-contain a {
  text-decoration: none;
  color: #333;
}

.menu-contain .login {
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
}

@media (max-width: 1024px) {

  header h2 {
    font-size: 2.8rem;
  }

  header li a {
    font-size: 14px;
  }

  header .login {
    font-size: 14px;
  }

  .home {
    width: 100%;
    padding: 1rem 2rem;
    flex-direction: column-reverse;
    height: 100%;
    gap: 0;
  }

  .right img {
    width: 100%;
    height: 100%;
  }

  .recipe-header h1 {
    font-size: 4rem;
  }

  .card-container {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    justify-items: center;
  }

}



@media (max-width: 700px) {
  header {
    width: 100%;
  }

  header h2 {
    font-size: 2.2rem;
  }

  header li a {
    display: none;
  }

  header .login {
    display: none;
  }

  .home .left h1 {
    font-size: 5rem;
    line-height: 5rem;
  }

  .home h5 {
    font-size: 1rem;
  }

  .home button {
    font-size: 1rem;
    padding: .7rem 1rem;
  }

  .showcase {
    width: 100%;
  }

  .showcase-text {
    width: 80%;
  }

  .showcase-text h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .recipe-header h1 {
    font-size: 3rem;
  }

  .container {
    margin: 0 auto;
  }

  .showcase-text p {
    font-size: 1rem;
  }

  .menu-button {
    display: block;
  }

  .card-container {
    padding: 0;
    margin: 0 auto;
    grid-template-columns: 1fr;
    gap: 3rem;
    justify-items: center;
  }

  .card:nth-child(1) {
    margin-top: 5rem;
  }
}

@media (max-width: 480px) {
  header {
    width: 100%;
    padding: .5rem .8rem;
  }

  header h2 {
    font-size: 1.5rem;
    letter-spacing: 0;
  }


  .home {
    width: 100%;
    padding: 1rem 2rem;
    flex-direction: column;
    height: 80%;
    gap: 0;
  }

  .home .left h1 {
    font-size: 4.3rem;
    line-height: 4rem;
  }

  .home h5 {
    font-size: .9rem;
  }

  .home button {
    font-size: .98rem;
    padding: .7rem 1rem;
  }

  .right img {
    width: 300px;
    height: 220px;
    display: none;
  }

  .showcase {
    width: 100%;
    height: 50vh;
    background-position: left;
  }

  .showcase-text {
    width: 300px;
    padding: 1rem 2rem;
  }

  .showcase-text h1 {
    font-size: 1.6rem;
    line-height: 1.8rem;
    ;
  }

  .showcase-text p {
    font-size: 14px;
  }

  .recipe-header h1 {
    font-size: 2.8rem;
  }

  .outer-container .title {
    font-size: 3rem;
  }

  .modal{
    width: 80%;
    left: 10%;
    background-color: aliceblue;
  }

  .form {
    width: 100%;
  }

  .outer-container .recipe-details {
    width: 90%;
  }

  .outer-container .title {
    font-size: 2rem;
  }

  .outer-container .recipe-details .ingredients {
    font-size: 14px;
  }

  .outer-container .recipe-details .instructions {
    font-size: 14px;
  }

  .menu-button {
    font-size: 15px;
  }

  .form-control {
    flex-direction: column;
    width: 100%;
  }

  .form-control .input {
    font-size: 14px;
    padding: 8px;
  }
}

@media (max-width: 400px)
{
  .menu-button{
    margin-right: .5rem;
  }

  .home .left h1 {
    font-size: 3.6rem;
    line-height: 3.5rem;
  }

  .showcase-text {
    width: 88%;
  }

  .showcase-text h1 {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  .recipe-header h1 {
    font-size: 2rem;
  }

  .form{
    width: 100%;
  }

.form-control .input {
  font-size: 13px;
  flex-basis: 100%;
  padding: 7px;
}

}